{% extends "cm_onboarding/cm_onboarding_main.html" %}

{% block main_body %}
<p style="margin: 0;">Hi {{cm_name}}!</p>
<p style="margin-top: 0;">Congratulations on creating your first membership plan with LikeMinds. You have taken the
    first step to build a paid membership community. Start inviting members to the community by using the link below
    or head over to the community to view the details.</p>
{% endblock %}

{% block after_body %}
<p>If you are facing any issues or want some help, we would love to help you thought the process. Just reply to this
email and we will be right there</p>
<p>Regards</p>
<p>Team LikeMinds</p>
{% endblock %}