<div style="width: 98px; height: 48px; margin: auto; overflow: visible;">
    <img class="CToWUd" style="width: 98px; height: 98px;" src="https://ci6.googleusercontent.com/proxy/NIvu13IFLCrtMAfY7Rgh5Q-114F2O0R1DkIb3i82-wZCwT5qUtDjag9nqerPGzdsdPXe_lenCVCF3aQiiJnFGzURQ-6wkse9f6RPu04HgZ2uufU1Db0kAeBy-BKcQEFhvydF91Z1xbk0p3gSMeNjPYgYm7tMbF9nXBV58r64nnaYaGyijP0ewxJ-Qvn8du_L-7yeeitXKnzFwHUnOxRiPeIdlgx15AuGmyu2dxqygoOJDOY3=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Flogo.png?alt=media&amp;token=2e66c0e5-35ef-4f94-ad2b-356c78eeaaba">
  </div>
  <div style="padding: 24px; padding-top: 48px; max-width: 500px; margin: auto; background: #fff; border-radius: 8px; border: 1px solid #eee; box-sizing: border-box;">
    <h3 style="font-size: 20px; font-weight: 400; text-align: center;">{{community_name}}</h3>
    <div style="font-size: 20px; color: #666; text-align: left; font-weight: bold;">Hello!</div>
    <div style="text-align: left; margin-top: 20px;">
      <div style="color: #718297; font-size: 16px;">Hi there,
        <br>
        We are sorry to inform you that the settlement that you initiated for {{currency}} {{amount}} has failed due to some issue. We have received this report and are actively working to resole the issue.
        <br>
        Please reach out to us by replying to this email for more information.
        <br>
        Team Likeminds
      </div>
    </div>
  </div>
  <div>
    <table style="border-collapse: collapse; width: 100%; height: 157px;" border="0">
      <tbody>
        <tr style="border: 0px; height: 157px;">
          <td style="width: 400px; text-align: center; border: 0px; height: 157px;">
            <p style="text-align: center; width: 100%; color: #718297; margin-top: 24px; margin-bottom: 12px;">You’ve been invited to join {{community_name}}. Get the LikeMinds App to access the community.</p>
            <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
              <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci5.googleusercontent.com/proxy/Fkz-iVhBqlG7w1_rhzcQUMypiWo9GKH1zoMQsQNEjc5yYIWh0juMxOEI2yFpIWjIwEMypkxES2dijPwKbf8I0AuhttyRyGJHvgihvb0Vlo3casZtsVg7uRLByVBmdKgQEG62bUh0B7DvKeKYN_RUksF-1b9R-q5fivy7O7v9zhwZS9thLAaq_7k9G9u_9q9iw2VTnGUpRajMo0wQ8OoFSSyn1WZ4TP5Uclj5BMYK4hx9LwignsJQwj8FtJ3FxAQs=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fgoogle_playstore.png?alt=media&amp;token=8cbff2b1-ef49-4dcf-9fd4-6666855d9b71" alt="Play Store">
            </a>
            <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
              <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci3.googleusercontent.com/proxy/WdFnvKLI1DaxRRiXMoaUya1hhA3HLhUBggfT06cPplBSj0rfn5ZkAiBpETWbn4EBhZGPnmLkYmL1OQ2kq5cp1yqQDWHjXUndmimjf6jPkPsfK7bkrZXU8MxK6rim7NQl-bDcVRrTPn95b9shVE32p_m5rgvW-N3HKobbvDzPBerbbwC5I6JGsuPwpBvevRRwjG0savw_QHwuRDCxemmt6tIkUnCZPEdBlPs8HGv2lGokls3IHims2JjPaw=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fapple_store.png?alt=media&amp;token=b1b62dfb-cde0-42c1-b801-5ed7fd0ca90b" alt="App Store">
            </a>
            <div style="padding: 0px; width: 100%; color: #929292; margin-top: 12px;">
              <span style="opacity: 0.8; font-size: 12px; text-align: center;">{{community_name}} is powered by
                <a href="https://www.likeminds.community" style="text-decoration: none; color: #01897b;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.likeminds.community&amp;source=gmail&amp;ust=1638192794302000&amp;usg=AOvVaw1zbjUtECN2WoDXZQdSgCqj" rel="noopener">
                  <strong>LikeMinds</strong>
                </a>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
