<html>
    <head>
        <title>Member Report Mail</title>
    </head>
    <body>
        <p>Hi there!<p>
        <p>We have attached a CSV with all the members details of your community {{community_name}}. You can download the file and open it in the excel.</p>
        <p>link: <a href="{{link}}">Members Data Link</a></p>
        <br>
        <p>If the links does not work, copy and paste the link in the browser. Reply to this email if you face any issues. </p>
        <br>
        <p>Team LikeMinds</p>
    </body>
</html>
