<html>
    <head>
        <title>Payment failed</title>
    </head>
    <body>
        <p>Hi {{member_name}},<p>
        <p>We saw that you were unable to make payment for {{payment_page_title}}.
            Below is the link to complete your purchase. If you still face any problems,
            do try changing the payment method or let us know here.</p>
        <p>{{payment_page_url}}</p>
        <br>
        <p>{{community_manager_name}}</p>
        <p>{{community_name}}</p>
    </body>
</html>
