<html>
    <head>
        <title>Community Join Link</title>
    </head>
    <body>
        <p>Hi!<p>
        <br>
        <p>Welcome to {{community_name}}</p>
        <p>We are so excited to meet you, you can join the community on LikeMinds app using this link {{otl_link}}</p>
        <p>You payment id is: {{payment_id}}</p>
        <br>
        <p>In case you face any issues in joining the community or wish to cancel the subscription please reach out
        to us at hello@likeminds.community.</p>
        <br>
        <br>
        <p>Regards,</p>
        <p>LikeMinds Team</p>
    </body>
</html>
